USE [OpenSpace]
GO
/****** Object:  StoredProcedure [dbo].[AFCompareSites]    Script Date: 04/06/2025 10:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure
CREATE PROCEDURE [dbo].[AFCompareSites] @schema varchar(50),
	@output varchar(50),
	@geomtable varchar(50),
	@keycol varchar(50),
	@geomcol varchar(50)

AS
BEGIN

/*===========================================================================*\
  Description:		Compares old and new versions of a site table to
					determine if any have been added/deleted/modified/edited.

  Parameters:
	@schema			The schema for the site and results table.
	@output			The name of the output table to save the results into.
	@geomtable		The name of the 'old' site geometry table (without '_TEMP' suffix).
	@keycol			The name of the unique key reference column.
	@geomcol		The name of the spatial geometry column.

  Created:			Nov 2024
  Last revised:		Jun 2025

 *****************  Version 2  *****************
 Author: Andy Foy		Date: 04/06/2025
 A. Added step to copy temp table from user's own
    schema if it's uploaded that way by ArcGIS Pro.

 Author: Andy Foy		Date: 06/11/2024
 A. Initial version of code.

\*===========================================================================*/

	SET NOCOUNT ON

	IF @schema <> ''
	AND @output <> ''
	AND @geomtable <> ''
	AND @keycol <> ''
	AND @geomcol <> ''
	AND OBJECT_ID(@schema + N'.' + @geomtable, N'U') IS NOT NULL
--	AND OBJECT_ID(@schema + N'.' + @geomtable + '_TEMP', N'U') IS NOT NULL
	BEGIN

		DECLARE @sqlCommand nvarchar(max)
		DECLARE @oldtable nvarchar(100)
		DECLARE @newtable nvarchar(100)
		DECLARE @sitetable nvarchar(100)
		DECLARE @results nvarchar(100)

		/*---------------------------------------------------------------------------*\
			Move temporary table from user schema to dbo
		\*---------------------------------------------------------------------------*/

		DECLARE @UserId nvarchar(100) = USER_NAME()

		DECLARE @sourceSchema sysname = QUOTENAME(@UserId)
		DECLARE @sourceTable sysname = @sourceSchema + '.' + QUOTENAME(@geomtable + '_TEMP')
		DECLARE @targetTable sysname = @Schema + '.' + QUOTENAME(@geomtable + '_TEMP')

		-- Check if the temporary table has been copied to the user's schema
		IF OBJECT_ID(@sourceTable) IS NOT NULL
		BEGIN

			-- Drop dbo version if it already exists
			IF OBJECT_ID(@targetTable) IS NOT NULL
			BEGIN
				SET @sqlcommand = 'DROP TABLE ' + @targetTable
				EXEC (@sqlcommand)
				WITH RESULT SETS NONE
			END

			-- Move table from [UserId].[TargetTable] to dbo.[TargetTable]
			SET @sqlcommand = 'ALTER SCHEMA dbo TRANSFER ' + @sourceTable
			--PRINT @sqlcommand
			EXEC (@sqlcommand)
			WITH RESULT SETS NONE

		END

		SET @oldtable = @schema + '.' + @geomtable
		SET @newtable = @schema + '.' + @geomtable + '_TEMP'
		SET @sitetable = @schema + '.' + 'Sites'
		SET @results = @schema + '.' + @output

		/*---------------------------------------------------------------------------*\
			Preparation
		\*---------------------------------------------------------------------------*/

		-- Delete the output results table if it already exists.
		SET @sqlcommand = 
		'DROP TABLE IF EXISTS ' + @results
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Create new output results table.
		SET @sqlcommand = 'CREATE TABLE ' + @results + '(
			[RowID] [int] IDENTITY(1,1) NOT NULL,
			[Type] [varchar](50) NOT NULL,
			[Order] int NOT NULL,
			[Desc] [varchar](254) NOT NULL,
			[KeyNew] [varchar](254) NOT NULL,
			[AreaNew] float NOT NULL,
			[KeyOld] [varchar](254) NOT NULL,
			[AreaOld] float NOT NULL) ON [PRIMARY]'
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Add primary key to output results table.
		SET @sqlcommand = 'ALTER TABLE ' + @results + ' ADD  CONSTRAINT [PK_' + @output + '] PRIMARY KEY CLUSTERED 
		([RowID] ASC) ON [PRIMARY]'
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Add index to output results table.
		SET @sqlcommand = 'CREATE NONCLUSTERED INDEX [IX_' + @output + '_KeyNew] ON ' + @results + '
		([KeyNew] ASC) ON [PRIMARY]'
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Drop index on new temporary table if it exists.
		SET @sqlcommand = 'DROP INDEX IF EXISTS [IX_' + @newtable + '_' + @keycol + '] ON ' + @newtable
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Add index to new temporary table.
		SET @sqlcommand = 'CREATE NONCLUSTERED INDEX [IX_' + @newtable + '_' + @keycol + '] ON ' + @newtable + '
		([' + @keycol + '] ASC) ON [PRIMARY]'
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Repair the geometry for the old table (just in case).
		SET @sqlcommand = 
		'UPDATE ' + @oldtable + ' SET ' + @geomcol + ' = ' + @geomcol + '.MakeValid() WHERE ' + @geomcol + '.STIsValid() = 0'
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		-- Repair the geometry for the new temprary table (just in case).
		SET @sqlcommand = 
		'UPDATE ' + @newtable + ' SET ' + @geomcol + ' = ' + @geomcol + '.MakeValid() WHERE ' + @geomcol + '.STIsValid() = 0'
		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Empty sites
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Empty'' Type, 1,' +
		'''Site boundary is empty'',' +
		' n.' + @keycol + ' KeyNew,' +
		' CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000, 2) END AreaNew,' +
		' '''' KeyOld, '''' AreaOld '

		SET @sqlCommand = @sqlCommand +
		'
		FROM ' + @newtable + ' n'

		SET @sqlCommand = @sqlCommand + 
		'
		WHERE (n.' + @geomcol + '.STArea() = 0)'
		
		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY n.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Error sites
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Error'' Type, 2,' +
		'''SiteID is null or blank'',' +
		' n.' + @keycol + ' KeyNew,' +
		' CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000, 2) END AreaNew,' +
		' '''' KeyOld, '''' AreaOld '

		SET @sqlCommand = @sqlCommand +
		'
		FROM ' + @newtable + ' n'

		SET @sqlCommand = @sqlCommand + 
		'
		WHERE ((n.' + @keycol + ' IS NULL) OR (n.' + @keycol + ' = ''''))'
		
		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY n.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Orphan sites not in sites table and not already in
			boundary table (matching either on site ref or boundary)
			and have a non-blank key
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Orphan'' Type, 3,' +
		'''SiteID is not found in Sites table'',' +
		' n.' + @keycol + ' KeyNew,' +
		' CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000, 2) END AreaNew,' +
		' '''' KeyOld, '''' AreaOld '

		SET @sqlCommand = @sqlCommand +
		'
		FROM ' + @newtable + ' n
		LEFT JOIN ' + @sitetable + ' s ON ISNULL(s.' + @keycol + ','''')=ISNULL(n.' + @keycol + ','''') AND s.Deleted = 0'

		SET @sqlCommand = @sqlCommand + 
		'
		WHERE ((s.' + @keycol + ' IS NULL)
		AND ((n.' + @keycol + ' IS NOT NULL) AND (n.' + @keycol + ' <> ''''))
		AND (n.' + @geomcol + '.STArea() <> 0))'
		
		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY n.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Duplicate keys
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Duplicate'' Type, 4,' +
		'''SiteID is duplicated'',' +
		' n.' + @keycol + ' KeyNew,' +
		' MIN(CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000, 2) END) AreaNew,' +
		' '''' KeyOld, '''' AreaOld '

		SET @sqlCommand = @sqlCommand +
		'
		FROM ' + @newtable + ' n'

		SET @sqlCommand = @sqlCommand + 
		'
		GROUP BY n.' + @keycol + ' HAVING COUNT(*) > 1'
		
		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY n.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Added sites not already in boundary table (matching either on
			site ref or boundary)
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Added'' Type, 5,' +
		'''Site boundary has been added'',' +
		' n.' + @keycol + ' KeyNew,' +
		' CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000, 2) END AreaNew,' +
		' '''' KeyOld, '''' AreaOld '

		SET @sqlCommand = @sqlCommand +
		'
		FROM ' + @newtable + ' n
		INNER JOIN ' + @sitetable + ' s ON ISNULL(s.' + @keycol + ','''')=ISNULL(n.' + @keycol + ','''')
		LEFT JOIN ' + @oldtable + ' o ON ISNULL(o.' + @keycol + ','''')=ISNULL(n.' + @keycol + ','''') AND o.Deleted = 0
		LEFT JOIN ' + @oldtable + ' o2 ON o2.' + @geomcol + '.STEquals(n.' + @geomcol + ')=1 AND o2.Deleted = 0'

		SET @sqlCommand = @sqlCommand + 
		'
		WHERE ((o.' + @keycol + ' IS NULL)
		AND (o2.' + @keycol + ' IS NULL))'
		
		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY n.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Edited sites (changed boundaries only)
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Edited'' Type, 6,' +
		'''Site boundary has been edited'','

		SET @sqlCommand = @sqlCommand + 
		' n.' + @keycol + ' KeyNew,' +
		' CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000,2) END AreaNew,' +
		' o.' + @keycol + ' KeyOld,' +
		' ROUND(o.' + @geomcol + '.STArea()/10000,2) AreaOld' +
		'
		FROM ' + @oldtable + ' o
		INNER JOIN ' + @sitetable + ' s ON ISNULL(s.' + @keycol + ','''')=ISNULL(o.' + @keycol + ','''')
		INNER JOIN ' + @newtable + ' n ON ISNULL(n.' + @keycol + ','''')=ISNULL(o.' + @keycol + ','''')'
		
		SET @sqlCommand = @sqlCommand + 
		'
		WHERE ((o.' + @geomcol + '.STEquals(n.' + @geomcol + ') = 0)
		AND (o.Deleted = 0))'

		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY o.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Renamed sites (changed site ref only)
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Renamed'' Type, 7,' +
		'''SiteID has been changed'','

		SET @sqlCommand = @sqlCommand + 
		' n.' + @keycol + ' KeyNew,' +
		' CASE WHEN n.' + @geomcol + ' IS NULL THEN 0.00 ELSE ROUND(n.' + @geomcol + '.STArea()/10000,2) END AreaNew,' +
		' o.' + @keycol + ' KeyOld,' +
		' ROUND(o.' + @geomcol + '.STArea()/10000,2) AreaOld'

		SET @sqlCommand = @sqlCommand + 
		'
		FROM ' + @oldtable + ' o
		INNER JOIN ' + @newtable + ' n ON n.' + @geomcol + '.STEquals(o.' + @geomcol + ') = 1
		INNER JOIN ' + @sitetable + ' s ON ISNULL(s.' + @keycol + ','''')=ISNULL(n.' + @keycol + ','''')'
		
		SET @sqlCommand = @sqlCommand + 
		'
		WHERE ((o.' + @keycol + ' <> n.' + @keycol + ')
		AND (o.Deleted = 0))'

		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY o.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

		/*---------------------------------------------------------------------------*\
			Deleted sites no longer in boundary table (matching either
			on site ref or boundary)
		\*---------------------------------------------------------------------------*/

		SET @sqlcommand = 
		'INSERT INTO ' + @results + '
		SELECT ''Deleted'' Type, 8,' +
		'''Site boundary has been deleted'',' +
		' '''' KeyNew,' +
		' '''' AreaNew,' +
		' o.' + @keycol + ' KeyOld,' +
		' ROUND(o.' + @geomcol + '.STArea()/10000, 2) AreaOld '

		SET @sqlCommand = @sqlCommand +
		'
		FROM ' + @oldtable + ' o
		LEFT JOIN ' + @newtable + ' n ON ISNULL(n.' + @keycol + ','''')=ISNULL(o.' + @keycol + ','''')
		LEFT JOIN ' + @newtable + ' n2 ON n2.' + @geomcol + '.STEquals(o.' + @geomcol + ')=1'
		
		SET @sqlCommand = @sqlCommand + 
		'
		WHERE ((n.' + @keycol + ' IS NULL)
		AND (n2.' + @keycol + ' IS NULL)
		AND (o.' + @geomcol + ' IS NOT NULL)
		AND (o.Deleted = 0))'

		SET @sqlCommand = @sqlCommand + 
		'
		ORDER BY o.' + @keycol

		--PRINT @sqlcommand
		EXEC (@sqlcommand) WITH RESULT SETS NONE

	END

END
